* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sign {
    display: flex;
    justify-content: center;
    /* height: 100vh; */
}

.container {
    display: block;
}

.img {
    position: relative;
    left: 170px;
    overflow: hidden;
    padding: 1rem;
}

.signin-container {
    width: 100%;
    background: white;
    color: #333;
    /* margin: 7rem; */
    padding: 2rem;
    border: 1px solid rgba(128, 128, 128, 0.386);
    border-radius: 10px;
}

.center h1 {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.center input {
    width: 100%;
    padding: 0.9rem;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 1px 0px 5px grey;
    margin-top: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.562);
}

.center label {
    font-size: 0.9rem;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 1rem;
    /* color: #666; */
}

.signin-container input:focus {
    outline: none;
    border-color: #1a5e71;
    box-shadow: 1px 0 0 3px rgba(57, 192, 210, 0.909);
}

.bnt {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #ffd814d8;
    width: 100%;
    border: none;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 35px;
    border-radius: 30px;
}

.btn:hover {
    background-color: #ffd814;
}

.link p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.link a {
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(33, 98, 161);
}

.link a:hover {
    color: rgb(16, 51, 85);
}


.help a {
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 46px;
    text-decoration: none;
    color: rgb(33, 98, 161);
}

.help a:hover {
    color: rgb(16, 51, 85);
    text-decoration: underline;
}

.section {
    border-top: 1px solid rgba(128, 128, 128, 0.368);
    margin-top: 0.5rem;
}

.section h1 {
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 1rem;
    font-weight: 550;
    line-height: 30px;
}

.section a {
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    line-height: 30px;
    color: rgb(33, 98, 161);
}

.section a:hover {
    color: rgb(16, 51, 85);
    text-decoration: underline;
}

.footerline {
    margin-top: 3rem;
    /* margin: 25%;  */
    border-top: 2px solid rgba(128, 128, 128, 0.347);
}

.footer {
    text-align: center;
    margin-top: 1rem;
}

.footer a {
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 0.5rem;
    text-decoration: none;
    line-height: 10px;
    color: rgb(33, 98, 161);
}

.footer a:hover {
    color: rgb(16, 51, 85);
    text-decoration: underline;
}

.footer p {
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(86, 89, 89);
}

@media(max-width:1500px) {
    .ama {
        width: 100%;
        flex-direction: column;
        position: static;
    }

    .signin-container {
        width: 100%;
        position: static;
        flex-direction: column;
    }
}

@media(max-width:1000px) {
    .ama {
        width: 100%;
        flex-direction: column;
        position: static;
    }
}

@media(max-width:800px) {
    .ama {
        width: 100%;
        flex-direction: column;
        position: static;
    }

    .container {
        width: 100%;
        position: static;
        flex-direction: column;
    }

    /* img{
        position: relative;
        left: 100px;
    } */
    .signin-container {
        width: 100%;
        position: static;
        flex-direction: column;
    }
}

@media(max-width:500px) {
    .ama {
        width: 100%;
        flex-direction: column;
        position: static;
    }
    img{
        position: relative;
        left: -30px;
    }

    /* .container {
        width: 100%;
        position: static;
        flex-direction: column;
    } */

    .signin-container {
        width: 100%;
        position: static;
        flex-direction: column;
    }
}

@media(max-width:300px) {
    .ama {
        width: 100%;
        flex-direction: column;
        position: static;
    }

    /* .container {
        width: 100%;
        position: static;
        flex-direction: column;
    } */

    .signin-container {
        width: 100%;
        position: static;
        flex-direction: column;
    }
}